Repository nitintf/microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: lerna run --parallel format, lerna run --parallel lint

.lintstagedrc.yml:

'*.{ts,tsx}':
  - lerna run --parallel format
  - lerna run --parallel lint
'*.{json,yml,yaml,md,css,scss}':
  - lerna run --parallel format
'src/**/*.{js,jsx}':
  - lerna run --parallel format
  - lerna run --parallel lint

refactor: removing lint-staged, etc
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
  packages/authz/src/authz.module.ts
  packages/authz/src/prisma/prisma.module.ts
  packages/prisma-db/.eslintrc.js
Due: lerna run --parallel format, lerna run --parallel lint

refactor
  .husky/pre-commit
  package-lock.json
  package.json
Due: lerna run --parallel format

refactor
  packages/logger/tsconfig.json
  tsconfig.json
Due: lerna run --parallel format

refactor
  .prettierignore
Due: none

removing .env
  .gitignore
Due: none

Delete .env
  .env
Due: none

setting up nginx as api-gateway
  .dockerignore
  docker-compose.yml
  nginx/nginx.conf
  package-lock.json
  package.json
  packages/core/Dockerfile
  packages/core/package.json
  packages/core/src/app.controller.ts
  packages/core/src/main.ts
  packages/kafka/Dockerfile
  packages/kafka/package.json
  packages/kafka/src/app.controller.ts
  packages/kafka/src/main.ts
Due: lerna run --parallel format, lerna run --parallel lint

testing api-gateway
  package-lock.json
  packages/core/src/app.controller.ts
  packages/core/src/main.ts
  packages/kafka/src/app.controller.ts
  packages/kafka/src/main.ts
Due: lerna run --parallel format, lerna run --parallel lint

fix: api-gateway
  docker-compose.yml
  nginx/nginx.conf
  packages/core/Dockerfile
  packages/kafka/Dockerfile
Due: lerna run --parallel format

refactor: adding correct volume for containers
  docker-compose.yml
Due: lerna run --parallel format

refactor: adding location using regex
  nginx/nginx.conf
  packages/core/src/app.controller.ts
Due: lerna run --parallel format, lerna run --parallel lint

refactor
  packages/core/src/app.controller.ts
Due: lerna run --parallel format, lerna run --parallel lint

bringing back auth
  nginx/nginx.conf
Due: none

adding todo
  todos.md
Due: lerna run --parallel format

refactor: removing nestjs from authz
  packages/authz/.eslintrc.js
  packages/authz/.prettierrc
  packages/authz/nest-cli.json
  packages/authz/package.json
  packages/authz/pnpm-lock.yaml
  packages/authz/prisma/schema.prisma
  packages/authz/src/auth/auth.module.ts
  packages/authz/src/authz.module.ts
  packages/authz/src/main.ts
  packages/authz/src/prisma/prisma.module.ts
  packages/authz/src/prisma/prisma.service.ts
  packages/authz/test/app.e2e-spec.ts
  packages/authz/test/jest-e2e.json
  packages/authz/tsconfig.build.json
  packages/authz/tsconfig.json
Due: lerna run --parallel format, lerna run --parallel lint

init go for authz service
  packages/authz/Dockerfile
  packages/authz/README.md
  packages/authz/go.mod
  packages/authz/pkg/application/application.go
  packages/authz/pkg/jwt/jwt.go
Due: lerna run --parallel format

adding readme
  Readme.md
  todos.md
Due: lerna run --parallel format
